
  .live-event {
    border-radius: 10px;
    box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.16);
    margin: 0 16px 16px 16px;
    display: flex;
    justify-content: space-between;

    h2{
          
      color: #364F6B;
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: 5px;
    }

    img {
      border-radius: 10px 0 0 10px;
      object-fit: cover;
    }

    .info {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .content {
        h6 {
          color: #364F6B;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 5px;
          margin-top: 0px;
        }
        
      }
      .stats {
        display:flex;
        margin-bottom: 5px;
        margin-top: 0;
        margin-right: 0;

        span {
          display: flex;
          align-items: center;
          color: #364F6B80;
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }}
    h4{
          
      color: #364F6B;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 10px;
    }