<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>About</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content><ion-card>
  <ion-card-content>
      We are minds behind this app.
      <p> Will update Soon </p>
  </ion-card-content>
</ion-card>
 <ion-grid fixed>
 <!--  <ion-row *ngIf="slotData">
    <ion-col size="12" size-md="6" *ngFor="let slot of slotData">
      <ion-card>

        {{slot.district_id}} {{slot.district_name}}
      </ion-card>
    </ion-col>
    </ion-row> -->
    </ion-grid>
  
</ion-content>
