.container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    .first{
       
        top: 10%;
        left: 10%;
        margin-top: 25px;
        margin-left: 10px;
    }
    .third{
        
        top: 10%;
        right: 10%;
        margin-top: 25px;
        margin-right: 10;
    }
  }
  .background{
    position: relative;

  display: flex;

  padding-top: var(--ion-safe-area-top);

  align-items: center;
  justify-content: center;

  flex-direction: column;

  height: calc(250px + var(--ion-safe-area-top));

  background: center / cover url(../../../assets/img/power.svg) no-repeat;

  }
  .background img {
    width: 70px;
    border-radius: 50%;
    margin-top: calc(-1 * var(--ion-safe-area-top));
  }